@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron{
    text-align:center;
    }
    .centru {
        text-align: center;
        margin-left: 0;
        padding: 0px;
    }
</style>

<div class="jumbotron">
    <h1>Jocuri Video</h1>
    <p class="lead">Acest magazin vine in sprijinul pasionatilor de jocuri video.</p>
</div>

<div class="centru" >
   <img src="~/Poze/background.jpg" style="width:100%; height:100%;" />
</div>