@model MagazinJocuriVideo.Models.CosCumparaturiModels

@{
    ViewBag.Title = "DeleteCosCumparaturi";
}

<h2 style="text-align:center;">Stergere produs</h2>

<h3 style="text-align:center;">Sigur doriti sa stergeti acest produs?</h3>
<br />
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="padding-left:45%;">
            <input type="submit" value="Delete" class="btn btn-danger" />

        </div>
    }
</div>
@Html.ActionLink("Back to List", "Index")
